name: Checks
on: [push]

env:
  CI_IMAGE_TAG: ${{ secrets.DOCKERHUB_USER }}/recipe-app-api:ci-nocache

jobs:
  test-lint:
    runs-on: ubuntu-latest

    steps:
      # PHASE 1: Setup
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # PHASE 2: Enable Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # PHASE 3: Build Docker Image (no pip caching)
      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{ env.CI_IMAGE_TAG }}
          push: false

      # PHASE 4: Run tests and lint
      - name: Run Unit Tests
        run: docker compose run --rm app sh -c "python manage.py wait_for_db && python manage.py test"

      - name: Run Linting
        run: docker compose run --rm app sh -c "flake8"